<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Success</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form action='/predict' method="POST">-->
<!--    <p>文件上传成功!</p>-->
<!--    <p>要处理的文件名称为: <b> {{name1}} </b></p>-->
<!--    天数:<input type='text'name="天数"><br>-->
<!--    该电池的{{result}}<br>-->
<!--    <input type='submit' value='Predict'>-->
<!--    </form>-->
<!--        <form action='/predict' method="POST">-->
<!--            天数:<input type='text'name="天数"><br>-->
<!--            该电池的{{result}}<br>-->

<!--            <input type='submit' value='Predict'>-->
<!--        </form>-->

<!--</body>-->
<!--</html>-->

<html>
    <body>
        <p>文件上传成功!</p>
        <p>要处理的文件名称为: <b> {{name3}} </b></p>
        <form action='/zhijian_predict' method='POST'>
            该电池组的质量检测结果为：{{result_2}}<br>
<!--            <input type='submit' value='传入数据'>-->

            <a href="http://127.0.0.1:100/zhijian_plot">蓄电池质量检测可视化</a>
        </form>
    </body>
</html>
